<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${node}][${time:%H:%M:%S%F}][${severity}]:${message}"/>
  <arg name="map_size_x" value="16" />
  <arg name="map_size_y" value="6" />
  <arg name="map_size_z" value="7" />
  <arg name="obs_num" default="20" />
  <!-- Number of obstacles -->
  <arg name="rviz" default="True" />

  <include file="$(find map_generator)/launch/simulator_fake_sts.launch">
    <arg name="map_mode" value="2" />
    <arg name="map_size_x" value="$(arg map_size_x)" />
    <arg name="map_size_y" value="$(arg map_size_y)" />
    <arg name="map_size_z" value="$(arg map_size_z)" />
    <arg name="obs_num" value="$(arg obs_num)" />
  </include>

  <group if="$(arg rviz)">
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find map_generator)/config/demo.rviz" />
  </group>

</launch>
